/Release/
/sloeber.ino.cpp
/PropertyWebPage.ino
/PropertyWebPageRequestHandler.cpp
/PropertyWebPageRequestHandler.h
/SignalPattern.cpp
/SignalPattern.h
/spec.d
.cproject
.gitignore
.project
.settings/
.sproject
